# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Pycache Files
__pycache__/


# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug/Release folders
bin/
Debug/
Release/
back/
backup/

# Silly pycharm files
.idea/
.idea/workspace.xml